                            <div class="4u" style="width: 20%;">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
												<h3><a href="myzv.html">My Zenvera</a></h3>
											</header>
											<footer>
											<nav>
                            					<ul>
                            						<li><a href="myzv-guilds.html">Guilds</a></li>
                            						<li><a href="myzv-factions.html">Factions</a></a></li>
                            						<li><a href="myzv-poker.html">Poker</a></li>
                            						<li><a href="myzv-search.html">Search</a></li>
				                            	</ul>
			                            	</nav>
											</footer>
										</section>
									</div>

							</div>