                <h1 id="logo" style="float: left;"><a href="index.html">Zenvera <span>Ultima Project</span></a></h1>
				<script>$.get("https://zenvera.herokuapp.com/status.php", function( data ) {
                    $( "#status" ).html( data );
                });</script>
                <h1 id="status" style="position: absolute; text-align: center; float: none; width: 100%; left: 0; right: 0; z-index: -1"></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Welcome</a></li>
						<li class="submenu">
							<a href="">Navigation</a>
							<ul>
							    <li><a href="http://forums.zenvera.com">Forums</a></li>
								<li><a href="how-to.html">How To Play</a></li>
								<li><a href="store.html">Zenvera Store</a></li>
								<li><a href="account.html">Recover Account</a></li>
								<li><a href="myzv.html">My Zenvera</a></li>
								<li><a href="rules.html">Shard Rules</a></li>
								<li><a href="map.html">World Map</a></li>
								<li><a href="https://webchat.freenode.net/?channels=%23zenvera&amp;uio=d4">IRC Chat</a></li>
								<li><a href="https://bitbucket.org/msturgill/sallos">Sallos</a></li>
							</ul>
						</li>
						<li><a href="how-to.html" class="button special">Join Us</a></li>
					</ul>
				</nav>