                <h1 id="logo" style="float: left;"><a href="index.html">Zenvera <span>Ultima Project</span></a></h1>
				<script>$.get("https://zenvera.herokuapp.com/status.php", function( data ) {
                    $( "#status" ).html( data );
                });</script>
                <h1 id="status" style="position: absolute; text-align: center; float: none; width: 100%; left: 0; right: 0;"></h1>
				<nav id="nav">
					<ul>
						<li class="current"><a href="index.html">Welcome</a></li>
						<li class="submenu">
							<a href="">Navigation</a>
							<ul>
								<li><a href="how-to.html">How-To</a></li>
								<li><a href="store.html">Store</a></li>
								<li><a href="account.html">Account Management</a></li>
								<li><a href="http://my.zenvera.com">My Zenvera</a></li>
								<li><a href="http://forums.zenvera.com">Forums</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="how-to.html" class="button special">Join Us</a></li>
					</ul>
				</nav>