---
layout: default
---
	<body class="left-sidebar loading">
	{% include nav.html %}
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon {{ page.icon }}"></span>
					<h2 id="pheading">{{ page.heading }}</h2>
					<p id="psubheading">{{ page.subheading }}</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style4 container">
					
						<div class="row oneandhalf">
							<div class="4u">
								
								<!-- Sidebar -->
									<div class="sidebar">
										<section>
											<header>
												<h3>My Zenvera</h3>
											</header>
											<footer>
											<nav>
                            					<ul>
                            						<li><a href="how-to.html">How To Play</a></li>
                            						<li><a href="rules.html">Shard Rules</a></li>
                            						<li><a href="store.html">Zenvera Store</a></li>
                            						<li><a href="account.html">Recover Account</a></li>
                            						<li><a href="http://maps.zenvera.com">World Map</a></li>
                            						<li><a href="myzv.html">My Zenvera</a></li>
                            						<li><a href="https://webchat.freenode.net/?channels=%23zenvera&uio=d4">IRC Chat</a></li>
                            						<li><a href="http://forums.zenvera.com">Forums</a></li>
				                            	</ul>
			                            	</nav>
											</footer>
										</section>
									</div>

							</div>
							<div class="8u skel-cell-important">
								
								<!-- Content -->
									<div class="content">
										<section>
										    {{ content }}
										</section>
									</div>
	
							</div>
						</div>					
					</section>
					
			</article>